#borderPane {
    -fx-background-image: url('entryViewBackground_bottom.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}

.managmentCategoryLabel {
	-fx-font-weight: bold;
    -fx-font-family: Arial;
    -fx-font-size: 14px;
    -fx-text-fill: #5b6a75;
}

.managmentCategoryLabel:disabledcat {
    -fx-text-fill: #c5ccd4;
}

.managmentCategoryBox {
	-fx-cursor: hand;
}

.managmentCategoryBox:disabledcat {
	-fx-cursor: default;
}

#salariesIconActive {
	-fx-image: url('salariesIconActive.png');
}

#salariesIconActive:disabledcat {
	-fx-image: url('salariesIconDisabled.png');
}

#yardIconActive {
	-fx-image: url('yardIconActive.png');
}

#yardIconActive:disabledcat {
	-fx-image: url('yardIconDisabled.png');
}

#employeesIconActive {
	-fx-image: url('employeesIconActive.png');
}

#employeesIconActive:disabledcat {
	-fx-image: url('employeesIconDisabled.png');
}

#workshiftsIconActive {
	-fx-image: url('workshiftsIconActive.png');
}

#workshiftsIconActive:disabledcat {
	-fx-image: url('workshiftsIconDisabled.png');
}

#routesIconActive {
	-fx-image: url('routesIconActive.png');
}

#routesIconActive:disabledcat {
	-fx-image: url('routesIconDisabled.png');
}

#linesIconActive {
	-fx-image: url('linesIconActive.png');
}

#linesIconActive:disabledcat {
	-fx-image: url('linesIconDisabled.png');
}
