#borderPane {
    -fx-background-image: url('../../entryViewBackground_top.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}

#weekSwitchBg {
	-fx-background-color: #e9eff3;
	-fx-border-radius: 5 5 0 0;
	-fx-background-radius: 5 5 0 0;
}

#weekText {
	-fx-text-fill: #0187ea;
	-fx-font-weight: bold;
    -fx-font-family: Arial;
    -fx-font-size: 14px;
}

#weekNumber {
	-fx-text-fill: #0187ea;
	-fx-font-weight: bold;
    -fx-font-family: Arial;
    -fx-font-size: 16px;
}

#weekPrevButton {
	-fx-background-image: url('../../routeWeekPrevButton.png');
	-fx-background-color: transparent;
	-fx-cursor: hand;
}

#weekNextButton {
	-fx-background-image: url('../../routeWeekNextButton.png');
	-fx-background-color: transparent;
	-fx-cursor: hand;
}

.table-view{
   -fx-background-color: #ffffff;
       -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
        -fx-border-width: 3px;
    -fx-border-color: #e9eff3;
}

/* header background */
.table-view .column-header-background{
    -fx-background-color: #ffffff;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #e9eff3;
           -fx-border-radius: 5 5 0 0;
    -fx-background-radius: 5 5 0 0;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-padding: 20px 0px 20px 0px;
    -fx-font-weight: bold;
    -fx-font-family: Arial;
    -fx-font-size: 14px;
    -fx-text-fill: #374a5b;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

/* header inner border */
.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 0 0;
    -fx-border-color: transparent #e9eff3 transparent transparent;
    -fx-border-insets: 0 0 0 0;
}

.table-view .filler {
	-fx-background-color: transparent;
	    -fx-border-width: 0 0 0 0;
    -fx-border-color: transparent;
}




.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: #a1acb5;
    -fx-font-family: Arial;
    -fx-font-size: 14px;
    -fx-padding: 5px 0px 5px 0px;
    -fx-alignment: CENTER;
}

.table-row-cell{

    -fx-padding: 0 0 0 0; /* 0 */
    -fx-background-color: #ffffff;
    -fx-table-cell-border-color: #e9eff3;
    -fx-cell-size: 40px;
}

.table-row-cell:odd{
    -fx-background-color: #f5f7fa;

    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-background-color: #0187ea;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
    -fx-text-background-color: red;
}

.table-row-cell:selected .table-cell {
    -fx-text-fill: #ffffff;
    -fx-table-cell-border-color: transparent;
}


/* 
.table-row-cell:selected .text {
       -fx-text-fill: red ;

}
*/

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: #ffffff;
}


.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

.table-view > .virtual-flow > .scroll-bar > .thumb {
	-fx-background-color: #0187ea;
	-fx-background-insets: 4, 0, 0, 0;
}















.combo-box {
    -fx-background-color: #ffffff;
    -fx-border-radius: 5 5 5 5;
    -fx-text-fill: #8c9fad;
    -fx-font-size: 16px;
    -fx-padding: 0 5 0 5;
    -fx-cursor: hand;
}

.combo-box .cell {
    -fx-text-fill: #8c9fad;
    -fx-background-color: #ffffff;
}

.combo-box .list-view {
    -fx-translate-y: 8px;
    -fx-drop-shadow: null;
    -fx-border-width: 1;
    -fx-border-color: #d8e0e9;
    -fx-background-color: #ffffff;
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 4, 0, 0, 0);
}

.combo-box .arrow{
    -fx-background-color: #0187ea;
}

.combo-box .list-view .list-cell{
    /*-fx-translate-y: -1;
    -fx-border-width: 1 0 0 0; -fx-border-color: #d8e0e9 transparent transparent transparent;
    */
}

.combo-box .list-view .list-cell:hover {
    -fx-text-fill: #374a5b;
    -fx-background-color: #edf2f6;
    -fx-cursor: hand;
}



.combo-box .scroll-bar:horizontal .track,
.combo-box .scroll-bar:vertical .track{
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
}

.combo-box .scroll-bar:horizontal .increment-button ,
.combo-box .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;

}

.combo-box .scroll-bar:vertical .increment-button ,
.combo-box .scroll-bar:vertical .decrement-button {

    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;

}

.combo-box  .scroll-bar .increment-arrow,
.combo-box  .scroll-bar .decrement-arrow
{
    -fx-shape: " ";
    -fx-padding:0;
}

.combo-box .scroll-bar:horizontal .thumb,
.combo-box .scroll-bar:vertical .thumb {
    -fx-background-color: #0187ea;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}